secret
secret2
csv/*
venv/
.venv/
linux-venv/
linux_gpu_env/
answers/*.answer
src/__pycache__/
src/benchmark_tool/__pycache__/*
src/graph_tool/__pycache__/*
SiaILP/
SiaILP
*.ldf
*.mdf
local_llm/
*.pyc
pathfinder*
paths_output*
rel2id*
pfer*
test_paths*
test.triples.*
triples*
src/benchmark_tool/__pycache__/config.cpython-312.pyc
src/benchmark_tool/__pycache__/database.cpython-312.pyc
src/benchmark_tool/__pycache__/helpers.cpython-312.pyc
src/benchmark_tool/__pycache__/knowledge_graph.cpython-312.pyc
src/benchmark_tool/__pycache__/queries.cpython-312.pyc
src/benchmark_tool/__pycache__/config.cpython-312.pyc
src/benchmark_tool/__pycache__/database.cpython-312.pyc
src/benchmark_tool/__pycache__/helpers.cpython-312.pyc
src/benchmark_tool/__pycache__/knowledge_graph.cpython-312.pyc
src/benchmark_tool/__pycache__/queries.cpython-312.pyc
